/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    text-decoration: none;
    list-style: none;
    color: black;
}
.nvabar ul li Link{
    color: black;
} */